<h1 style="display: flex; justify-content:center;">Lista de productos con http!</h1>

<div>
    <ul id="httpList">

    </ul>

</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/home.js"></script>