<div style="width: 100%; display:flex; flex-direction: column;  align-items: center;">
    <div style="width: 100%; max-width: 1024px; display:flex; flex-direction: column; justify-content:center; align-items: center;">
        <h1>Hubo un Error!</h1>  
        <a href="/products">
            Volver a productos!
        </a>

    </div>
</div>