<h1 style="display: flex; justify-content:center;">Cambia la contrasena</span></h1>

<div style="display: flex; flex-direction:column; width: 100%; justify-content:center; align-items:center; ">
    <div>
    <form id="changePassForm">
        <label>Contraseña actual:</label>
        <input name="currentPass" id="currentPass" type="text"/>
        <br>
        <br>
        <label>Contraseña nueva:</label>
        <input name="newPass" id="newPass" type="text"/>
        <br>
        <br>
    </form>
    <button id="confirmBtn">Confirmar!</button>
    </div>

</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/changePassword.js"></script>