<h1 style="display: flex; justify-content:center;">Bienvenido usuario!</h1>

<div style="display: flex; width: 100%; justify-content:space-evenly; ">
    <div>
        <h3>Ultimas compras</h3>
        <ul id="lpList">

        </ul>
    </div>

</div>

<script src="/scripts/lastPurchases.js"></script>