<h1 style="display: flex; justify-content:center;">Compra #<span id="cartId">{{{cartId}}}</span></h1>

<div style="display: flex; width: 100%; justify-content:space-evenly; ">
    <div>
        <h3 id="timestamp" ></h3>
        <div id="purchase">
            <div id="products">
                
            </div>
            <div id="shipping"></div>
            <div id="payment"></div>
        </div>
    </div>

</div>

<script src="/scripts/lastPurchasesInfo.js"></script>