<h1 style="display: flex; justify-content:center;">Bienvenido {{{user.user._doc.name}}}!</h1>

<div style="display: flex; width: 100%; justify-content:space-evenly; ">
    <div>
        <h3>Panel de control</h3>
        <ul>
            <li><a href="#">Ver datos de usuario</a></li>
            <li><a href="/private/lastpurchases">Ver ultimas compras</a></li>
            <li><a href="/private/password">Cambiar contrasena</a></li>
        </ul>
    </div>
    <div>
        <h3>Panel de control</h3>
    </div>

</div>