<div style="display: flex;flex-direction:column; align-items:center; width:100%;">

<h1>
    Cart
</h1>
    <div style="display: flex;flex-direction:column; justify-content:center; width:100%; max-width: 1024px;">
<div style="display: flex;flex-direction:row; justify-content:space-between; width: 100%">


</div>
<div id="cartContainer" style="align-self: center;" class="d-flex flex-column w-100 align-items-center">

</div>
</div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/scripts/cart.js"></script>
