<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
</head>
<body>
    <div class="formContainer w-100 h-75 mt-5 d-flex flex-column align-items-center justify-content-center" id="forgotPassFormContainer">
        <form class="p-3 border rounded" id="forgotPassForm">
            <label >Ingresa tu email</label>
            <br>
            <br>
            <input type="text" name="email" class="form-control" id="forgotPassFormEmail">
            <br>
            <br>
            <button class="btn btn-primary" id="forgotPassFormBtn">Enviar Mail</button>
        </form>
    </div>

</body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/scripts/forgotPass.js"></script>
</html>