<div style="display:flex; flex-direction:column; align-items:center;">
    <h1>Productos</h1>
    <h3 style="align-self: flex-end">
        <a href="http://localhost:5000/messages/">
        Chatear con un vendedor
        </a>
    </h3>
    <h3 style="align-self: flex-end">
        <a href="http://localhost:5000/cart/">
        Ver Carrito
        </a>
    </h3>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr);
                grid-gap: 10px;
                grid-auto-rows: minmax(100px, auto);
                justify-items: center"
         id="productsGrid">
            

    </div>
    

</div>




<script src="/scripts/products.js"></script>
