<div style="display:flex; flex-direction:column; align-items:center; width:100%">
    <section class="w-100 d-flex justify-content-center mt-5">

        <h1>Productos</h1>
    
    </section>
    </div>
    <div class="productsFilterContainer ">

    <div id="productsFilter" style="text-align: center; margin-bottom:20px;" class=" shadow m-5 d-flex justify-content-center">
        <h6 for="b">Filtrar por categoria <select name="a" id="selectCategories" onchange="handleSelect(event)">
        </select></h6>
        
        <h6 for="b"  class="mx-5" >Ordenar por precio <select name="b" id="selectPriceSort" onchange="handleSelect(event)">
            <option value="-">-</option>
            <option value="asc">Asc</option>
            <option value="desc">Desc</option> 
        </select></h6>
        
        <h6 for="c">Ver <select name="c" id="selectQuantityDisplayed" onchange="handleSelect(event)">
            <option value="-">todos los </option>
            <option value="2">2</option>
            <option value="5">5</option> 
            <option value="10" selected>10</option> 
        </select> Productos</h6>
        
    </div>
    </div>
    <div  class="w-100 d-flex justify-content-center">
        <div id="productSpinner" class="spinner-border text-dark justify-content-center" role="status">
        </div>
    </div>
    <div
    style="max-width: 2048px;"
        class="row justify-content-center m-0 gap-3"
         id="productsGrid">
            

    </div>
    <div id="paginationContainer" class="d-flex w-100 justify-content-center mt-5 align-items-center" style="display:flex;">
        <div id="prevPageBtn">
        </div>
        <div id="currentPage" class="mx-3">   
        </div>
        <div id="nextPageBtn">
        </div>

    </div>
    

</div>




<script src="/scripts/products.js"></script>
