<div style="width: 100%;display:flex; flex-direction:column; align-items:center;">
    <h1 id="productTitle"></h1>
    <div style="display: flex;flex-direction:row; justify-content:space-between; width: 100%; max-width:1024px;">


<h3 style="align-self:flex-start">
    <a href="/products">
    Volver a productos

    </a>
    </h3>

</div>
    <div style="display: flex;
                justify-content: center;
                "
         id="productContainer">
            

    </div>
    

</div>



<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/product.js"></script>
