<h1 style="display: flex; justify-content:center;">Informacion de envio y pago</h1>
<div style="display: flex;flex-direction:row; justify-content:space-between; width: 100%">


<h3 style="align-self:flex-start">
    <a href="/products">
    Volver a productos

    </a>
    </h3>

    <h3 style="align-self: flex-end">
        <a href="http://localhost:5000/cart/">
        Ver Carrito
        </a>
    </h3>
</div>
<div style="display:flex; flex-direction:row; width: 100%; justify-content: center;;">
    <div
        style="display:flex; flex-direction:column;  width: 50%"
    >

    <form 
        id="checkoutForm"
        style="display:flex; flex-direction:column;  width: 50%; border: solid 1px black"
        >
        <input name="name" placeholder="Nombre completo" type="text" required/>
        <br>
        <input name="address" placeholder="direccion" type="text" required/>
        <br>
        <input name="id" placeholder="documento" type="number" required/>
        <br>
        <input name="email" placeholder="email" type="email" required/>
        <br>
        <input name="cellphone" placeholder="cellphone" type="number" required/>
        <br>
        <select name="select" required>
            <option value="mercadopago">mercadopago</option>
            <option value="transferencia" selected>transferencia</option>
        </select>
        <br>
        <input  id='resetButton' type="reset" hidden/>
        <br>
        <button id="createProductButton">Comprar</button>
        <br>
    </form>
    <hr>
    <hr>


    </div>

    <div>
        <h2>Resumen de carrito</h2>
    <ul id="cartResume">    
    </ul>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/scripts/shippinginfo.js"></script>